<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general_styles.css">
    <link rel="stylesheet" href="/css/index_styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Pagina de Inicio</title>
</head>

<body>
    <header>
        <section class="header_navbar">
            <section class="header__logo">
                <a href="/">
                <img src="images/logo_libreria.png" alt="logo-Libreria"></a>
            </section>

            <section class="header__search">
                <div class="header__search__search">
                    <input type="search" name="" id="search__bar" placeholder="Busqueda">
                    <button class="header__search_butom"><i class="fas fa-search"></i></button>
                </div>
                
            
            <section class="header__search__links">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">¿Quienes Somos?</a></li>
                    <li><a href="#">Contactenos</a></li>
                </ul>
            </section>
            
            </section>

            <section class="header_acount">
                <i class="fas fa-cog"></i>
                <i class="fas fa-chevron-down"></i>
                <ul class="header_account_list">
                    <li><a href="#">Crear Cuenta</a></li>
                    <li><a href="#">Ingresar</a></li>
                </ul>
            </section>
            <section class="header__buy">
                <a href="">Carrito<i class="fas fa-shopping-cart"></i></a>
            </section>
        </section>
    </header>

    <main>
        <section class="main_carrousel">

            <img src="images/indexImages/carrusel-demo.png" alt="producto-librearia">
        </section>

        <section class="main_producto">
            <article>
                <a href="/productDetail">
                <img src="images/indexImages/producto-demo.png" alt="producto-librearia"></a>
            </article>
            <article>
                <a href="/productDetail">
                <img src="images/indexImages/producto-demo.png" alt="producto-librearia"> </a>
            </article>
            <article>
                <a href="/productDetail">
                    <img src="images/indexImages/producto-demo.png" alt="producto-librearia"> </a>
            </article>
        </section>
        
        <div>
            <h3 class="main_featured_products-title">Productos Destacados</h3>
        </div>

        <section class="main_featured_products">
            
            <article>
                <a href="/productDetail">
                    <img src="images/indexImages/producto-demo.png" alt="producto-librearia"> </a>
            </article>
            <article>
                <a href="/productDetail">
                    <img src="images/indexImages/producto-demo.png" alt="producto-librearia"> </a>
            </article>
            <article>
                <a href="/productDetail">
                    <img src="images/indexImages/producto-demo.png" alt="producto-librearia"> </a>
            </article>
        </section>
        <div>
            <h3 class="main_popular_products-title">Productos Populares</h3>
        </div>
        <section class="main_popular_products">
            
            <article>
                <a href="/productDetail">
                    <img src="images/indexImages/producto-demo.png" alt="producto-librearia"> </a>
            </article>
            <article>
                <a href="/productDetail">
                    <img src="images/indexImages/producto-demo.png" alt="producto-librearia"> </a>
            </article>
            <article>
                <a href="/productDetail">
                    <img src="images/indexImages/producto-demo.png" alt="producto-librearia"> </a>
            </article>
        </section>
        
    </main>

    <footer>
        <section class="footer_account">
            <h3>Cuenta</h3>
            <ul>
                <li><a href="#">Mi Cuenta</a></li>
                <li><a href="#">Servicio al Cliente</a></li>
                <li><a href="#">Libro de Quejas</a></li>
                <li><a href="#">Defensa de Consumidor</a></li>
                <li><a href="#">Devoluciones</a></li>
            </ul>
        </section>

        <section class="footer_subscription">
            <h3>Suscribete</h3>
            <a href="#">Suscribete a nuestro programa de Newsletter</a>
            <div>
                <a id="footer_subscription_mail" href="#">Correo Electronico</a><i id="mail_row"class="fas fa-arrow-circle-right"></i>
            </div>
            
        </section>

        <section class="footer_folow">
            <h3>Seguinos</h3>
            <div class="footer_folow_logos">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"></a><i class="fab fa-twitter"></i>
                <a href="#"></a><i class="fab fa-instagram-square"></i>
            </div>
            
        </section>
    </footer>
</body>

</html>