<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Elemento del Producto</title>
    <link rel="stylesheet" href="/css/index_styles.css" />
  </head>
  <body>
    <div class="product-edit--form-container">
      <h2>Editar Elemento del Producto</h2>
      <form
        action="/products/create/<%= products.product_id %>?_method=PUT"
        method="POST">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%= product.name %>" />
        </div>
        <div class="form-group">
          <label for="description">Descripción:</label>
          <input
            type="text"
            id="description"
            name="description"
            value="<%= product.description %>" />
        </div>
        <button type="submit">Guardar Cambios</button>
      </form>
    </div>
  </body>
</html>
