<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <div class="slider">
        <img
          src="images/indexImages/producto-demo.png"
          alt="producto-librearia" />
        <img
          src="images/indexImages/producto-demo.png"
          alt="producto-librearia" />
        <img
          src="images/indexImages/producto-demo.png"
          alt="producto-librearia" />
        <img
          src="images/indexImages/producto-demo.png"
          alt="producto-librearia" />
      </div>

      <section class="main_producto">
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia" />
          </a>
          <p>Descripcion</p>
          <p>Precio</p>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia" />
            <p>Descripcion</p>
            <p>Precio</p>
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia" />
            <p>Descripcion</p>
            <p>Precio</p>
          </a>
        </article>
      </section>

      <div>
        <h3 class="producto-destacado-text">Productos Destacados</h3>
      </div>

      <section class="main_producto">
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia" />
            <p>Descripcion</p>
            <p>Precio</p>
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia" />
            <p>Descripcion</p>
            <p>Precio</p>
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia" />
            <p>Descripcion</p>
            <p>Precio</p>
          </a>
        </article>
      </section>
      <div>
        <h3 class="main_popular_products-title">Productos Populares</h3>
      </div>
      <section class="main_popular_products">
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia" />
            <p>Descripcion</p>
            <p>Precio</p>
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia" />
            <p>Descripcion</p>
            <p>Precio</p>
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia" />
            <p>Descripcion</p>
            <p>Precio</p>
          </a>
        </article>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
