<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>

    <main>
      <section class="main_carrousel">
        <img
          src="images/indexImages/carrusel-demo.png"
          alt="producto-librearia"
        />
      </section>

      <section class="main_producto">
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia"
          /></a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia"
            />
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia"
            />
          </a>
        </article>
      </section>

      <div>
        <h3 class="main_featured_products-title">Productos Destacados</h3>
      </div>

      <section class="main_featured_products">
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia"
            />
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia"
            />
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia"
            />
          </a>
        </article>
      </section>
      <div>
        <h3 class="main_popular_products-title">Productos Populares</h3>
      </div>
      <section class="main_popular_products">
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia"
            />
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia"
            />
          </a>
        </article>
        <article>
          <a href="/productDetail">
            <img
              src="images/indexImages/producto-demo.png"
              alt="producto-librearia"
            />
          </a>
        </article>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
