<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/header.ejs') %>

    <img class="logo_reg" src="images/logo_libreria.png" alt="Logo Empresa" />
    <h3>DATOS PERSONALES</h3>
    <form class="form_reg" action="/register" method="POST">
      <label for="name-field" class="name">
        Nombres
        <input class="input" name="name" id="name-field" />
      </label>

      <label for="surname-field" class="surname">
        Apellidos
        <input class="input" name="apellido" id="surname-field" />
      </label>

      <label for="email-field" class="email"
        >E-mail
        <input class="input" type="email" name="email" id="email-field" />
      </label>

      <label for="date-field" class="date"
        >Fecha Nacimiento
        <input class="input" type="date" name="date" id="date-field" />
      </label>

      <label for="prefix-field" class="prefix"
        >Prefijo
        <input
          class="input"
          type="autocomplete"
          name="prefix"
          id="prefix-field"
          placeholder="+54"
        />
      </label>

      <label for="phone-field" class="phone"
        >Teléfono
        <input class="input" type="text" name="phone" id="phone-field" />
      </label>

      <div class="terminos_info">
        <em> Quiero recibir información personalizada de la Libreria. </em>
        <input type="checkbox" name="informacion" checked />
        <br />
        <em
          >Términos y condiciones.
          <a href="#">Acepto condiciones y política de cookies</a>
        </em>
        <input type="checkbox" name="terminos" checked />
      </div>
      <div class="botones">
        <input class="input" type="submit" value="Crear Cuenta" / > <input
        class="input" type="reset" value="Borrar Datos" / >
      </div>
    </form>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
