<footer>
  <section class="footer_account">
    <h3>Cuenta</h3>
    <ul>
      <li><a href="#">Mi Cuenta</a></li>
      <li><a href="#">Servicio al Cliente</a></li>
      <li><a href="#">Libro de Quejas</a></li>
      <li><a href="#">Defensa de Consumidor</a></li>
      <li><a href="#">Devoluciones</a></li>
    </ul>
  </section>

  <section class="footer_subscription">
    <h3>Suscribete</h3>
    <p>Suscribete a nuestro programa de Newsletter</p>
    <div>
      <input id="footer_subscription_mail" placeholder="Correo Electronico" />
      <a href="#">
        <i id="mail_row" class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </section>

  <section class="footer_folow">
    <h3>Seguinos</h3>
    <div class="footer_folow_logos">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"></a>
      <i class="fab fa-twitter"></i>
      <a href="#"></a>
      <i class="fab fa-instagram-square"></i>
    </div>
  </section>
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
</footer>
