<header>
  <section class="header_navbar">
    <section class="header__logo">
      <a href="/">
        <img src="/images/logo_libreria.png" alt="logo-Libreria"
      /></a>
    </section>

    <section class="header__search">
      <div class="header__search__search">
        <form action="/search" method="get">
          <input
            type="search"
            name="search"
            placeholder="Buscar productos, marcas y más..."
          />
          <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>

      <section class="header__search__links">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="/aboutus">¿Quienes Somos?</a></li>
          <li><a href="#">Contactenos</a></li>
          <li><a href="/carts">Carts</a></li>
        </ul>
      </section>
    </section>

    <section class="header__buy">
      <% if (locals.isLogged) { %> <% if (locals.userLogged.avatar) { %>
      <img
        src="/images/users/<%= locals.userLogged.avatar %>"
        alt="User Image"
        class="user-profile-mini"
      />
      <% } else { %>
      <!-- Si no hay imagen de usuario, usar una por defecto -->
      <img
        src="/images/users/default-avatar.jpg"
        alt="Default Image"
        class="user-profile-mini"
      />
      <% } %>
      <p>Hola <%= locals.userLogged.name %> <%= locals.userLogged.surname %></p>
      <a href="/users/profile">Profile</a>
      <a href="/users/logout">Logout</a>
      <% } else { %>

      <div>
        <a href="/users/login">Login</a>
        <a href="/users/register">Register</a>
      </div>
      <% } %>
    </section>
  </section>
</header>
