<header>
  <section class="header_navbar">
    <section class="header__logo">
      <a href="/">
        <img src="/images/logo_libreria.png" alt="logo-Libreria"
      /></a>
    </section>

    <section class="header__search">
      <div class="header__search__search">
        <input type="search" name="" id="search__bar" placeholder="Busqueda" />
        <button class="header__search_butom">
          <i class="fas fa-search"></i>
        </button>
      </div>

      <section class="header__search__links">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">¿Quienes Somos?</a></li>
          <li><a href="#">Contactenos</a></li>
        </ul>
      </section>
    </section>

    <section class="header__buy">
      <i class="fa-solid fa-right-to-bracket"></i>
      <a href=""><i class="fas fa-shopping-cart"></i></a>
    </section>
  </section>
</header>
